[Unit] 
Description=Ascend aiguard device plugin  
[Service] 
ExecStartPre=/bin/bash -c "dos2unix /home/HwHiAiUser/testplugin/run_plugin/limit_file/cfs_profile" 
ExecStart=/bin/bash -c "apparmor_parser -r -W /home/HwHiAiUser/testplugin/run_plugin/limit_file/cfs_profile" 
ExecStartPre=/bin/bash -c "cp /home/HwHiAiUser/testplugin/run_plugin/limit_file/ceccomp_profile.json /var/lib/kubelet/seccomp/profiles" 
ExecStartPost=/bin/bash -c "/home/HwHiAiUser/testplugin/run_plugin/aiguard-plugin/aiguard-plugin" 
Restart=always 
RestartSec=2 
KillMode=process 
Type=forking  
[Install] 
WantedBy=multi-user.target